<h1>Naive-Bayes(gaussian)_lesson</h1>
<h2>Weather prediction</h2>

In [1]:
% matplotlib inline
import numpy as np
import pandas as pd
import sklearn

In [2]:
# load data
df = pd.read_csv('data/nb.csv')

In [3]:
# data before encode
df

     Outlook Temperature Humidity  Windy Play
0      Rainy         Hot     High  False   No
1      Rainy         Hot     High   True   No
2   Overcast         Hot     High  False  Yes
3      Sunny        Mild     High  False  Yes
4      Sunny        Cool   Normal  False  Yes
5      Sunny        Cool   Normal   True   No
6   Overcast        Cool   Normal   True  Yes
7      Rainy        Mild     High  False   No
8      Rainy        Cool   Normal  False  Yes
9      Sunny        Mild   Normal  False  Yes
10     Rainy        Mild   Normal   True  Yes
11  Overcast        Mild     High   True  Yes
12  Overcast         Hot   Normal  False  Yes
13     Sunny        Mild     High   True   No

In [4]:
# encode labels with value between 0 and n_classes-1
from sklearn.preprocessing import LabelEncoder

number = LabelEncoder()
df['Outlook'] = number.fit_transform(df['Outlook'])
df['Temperature'] = number.fit_transform(df['Temperature'])
df['Humidity'] = number.fit_transform(df['Humidity'])
df['Windy'] = number.fit_transform(df['Windy'])
df['Play'] = number.fit_transform(df['Play'])

In [5]:
# define the features and the target variables
x = ["Outlook", "Temperature", "Humidity", "Windy"]
y = "Play"

In [6]:
# create a train, test split. build the model using the train dataset it will validate the model on the test dataset.
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

features_train, features_test, target_train, target_test = train_test_split(df[x],
df[y],
test_size = 0.33,
random_state = 42)

In [7]:
# naive bayes(gaussian)
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(features_train, target_train)

GaussianNB(priors=None)

In [8]:
# prediction and accuracy
pred = clf.predict(features_test)
accuracy = accuracy_score(target_test, pred)

In [9]:
# data after encode
df

    Outlook  Temperature  Humidity  Windy  Play
0         1            1         0      0     0
1         1            1         0      1     0
2         0            1         0      0     1
3         2            2         0      0     1
4         2            0         1      0     1
5         2            0         1      1     0
6         0            0         1      1     1
7         1            2         0      0     0
8         1            0         1      0     1
9         2            2         1      0     1
10        1            2         1      1     1
11        0            2         0      1     1
12        0            1         1      0     1
13        2            2         0      1     0

In [10]:
# predict new data
# (sunny, hot, normal, false)
print(clf.predict([[2, 1, 1, 0]]))

clf_pf = GaussianNB()
clf_pf.partial_fit(features_train, target_train, np.unique(target_train))

print(clf_pf.predict([[2, 1, 1, 0]]))

[1]
[1]